page-terms-and-conditions {
  .tou {
    padding: 5px 16px;
    &_content {
      padding: 10px 0px;
      &:last-child {
        margin-bottom: 25px;
      }
    }
    &_h2 {
      font-size: 2.3rem;
      margin-left: 0;
    }
    &_h3 {
      font-size: 2rem;
      margin-left: 0;
    }
  }
}
