<ion-header>
  <ion-navbar>
    <ion-title>{{ 'Terms and Conditions' | translate }}</ion-title>
    <!--
      //this ion-button is the verticle three dots menu with showing options to click//
      <ion-buttons>
        <button (click)="showOptionsMenu()" ion-button icon-only>
          <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons>
    -->
  </ion-navbar>
</ion-header>

<ion-content>
  <section class="tou" translate>
    <h1 class="tou_h1">{{ 'Wallet Terms and Conditions' | translate }}</h1>
    <div class="tou_content">
      <span text-uppercase>Terms Updated on {{ touUpdate }}</span>
    </div>
    <div class="tou_content">
      This is a binding Agreement between {{ touComFull }} (“{{ touCom }}” or
      “We”) and the person, persons, or entity (“You” or “Your”) using the
      service, software, or application (“Software”).
    </div>
    <div *ngIf="touRightsObligation">
      <h2 class="tou_h2">{{ 'Rights and Obligations' | translate }}</h2>
      <div class="tou_content">
        {{ touCom }} provides the Software solely on the terms and conditions
        set forth in this Agreement and on the condition that You accept and
        comply with them. By using the Software You (a) accept this Agreement
        and agree that You are legally bound by its terms; and (b) represent and
        warrant that: (i) You are of legal age to enter into a binding
        agreement; and (ii) if You are a corporation, governmental organization
        or other legal entity, You have the right, power and authority to enter
        into this Agreement on behalf of the corporation, governmental
        organization or other legal entity and bind them to these terms.
      </div>
      <div class="tou_content">
        This Software functions as a free, open source, and multi-signature
        digital wallet. The Software does not constitute an account where We or
        other third parties serve as financial intermediaries or custodians of
        Your cryptocurrency(ies).
      </div>
      <div class="tou_content">
        While the Software has undergone beta testing and continues to be
        improved by feedback from the open-source user and developer community,
        We cannot guarantee there will not be bugs in the Software. You
        acknowledge that Your use of this Software is at Your own discretion and
        in compliance with all applicable laws. You are responsible for
        safekeeping Your passwords, private key pairs, PINs, and any other codes
        You use to access the Software.
      </div>
      <div class="tou_content">
        <span clasee="tou_cap">
          IF YOU LOSE ACCESS TO YOUR GETCOINS (COPAY) WALLET OR YOUR ENCRYPTED
          PRIVATE KEYS AND YOU HAVE NOT SEPARATELY STORED A BACKUP OF YOUR
          WALLET AND CORRESPONDING PASSWORD, YOU ACKNOWLEDGE AND AGREE THAT ANY
          BITCOIN YOU HAVE ASSOCIATED WITH THAT GETCOINS (COPAY) WALLET WILL
          BECOME INACCESSIBLE.
        </span>
        All transaction requests are irreversible. The authors of the Software,
        employees and affiliates of {{ touCom }}, copyright holders, and
        {{ touCom }} cannot retrieve your private keys or passwords if you lose
        or forget them and cannot guarantee transaction confirmation as We do
        not have control over the Bitcoin network.
      </div>
    </div>
    <div *ngIf="touDisclaimer">
      <h2 class="tou_h2">{{ 'Disclaimer' | translate }}</h2>
      <div class="tou_content">
        To the fullest extent permitted by law, this Software is provided “as
        is” and no representations or warranties can be made of any kind,
        express or implied, including but not limited to the warranties of
        merchantability, fitness or a particular purpose and noninfringement.
        You assume any and all risks associated with the use of the Software. In
        no event shall the authors of the Software, employees and affiliates of
        {{ touBws }}, employees and affiliates of {{ touCom }}, employees and
        affiliates of {{ touCom }}, copyright holders, {{ touBwsFull }} or
        {{ touCom }}, be held liable for any claim, damages or other liability,
        whether in an action of contract, tort, or otherwise, arising from, out
        of or in connection with the Software. We reserve the right to modify
        this disclaimer from time to time.
      </div>
      <div class="tou_content">
        <h3 class="tou_h3">USE RESTRICTIONS</h3>
        <div class="tou_content_lists">
          In connection with your use of the Software, you agree as follows:<br />
          <ol>
            <li>
              You will not at any time use an Account or Personal Wallet that is
              created by any other users.
            </li>
            <li>
              We cannot guarantee the identity of any user, sender, requester,
              receiver or any other party and you are solely responsible for any
              activity that occurs in connection with your Account or your
              Wallet.
            </li>
            <li>
              You will verify all Transaction information before entering into
              any Transactions through our Services as once we submit a
              Transaction to the applicable digital currency network, we cannot
              cancel it or refund the money.
            </li>
            <li>
              You will immediately notify us of any security breach or
              unauthorized use of our Services
            </li>
            <li>
              We reserve the right to cancel or delay any Transaction that we
              believe may violate applicable law or these Terms and Conditions.
            </li>
            <li>
              We cannot cancel any Transactions that have already been submitted
              to the applicable digital currency network.
            </li>
            <li>
              We may provide to any governmental authorities with all
              information about your Account and your use of the Services in
              response to a subpoena, court order, or other governmental
              request.
            </li>
            <li>
              You will not attempt to conduct any Transactions in a digital
              currency that is not supported by us.
            </li>
            <li>
              Digital currencies associated with any pending Transactions will
              not be available in your Wallet or available for any other
              Transactions.
            </li>
            <li>
              You will not use the Site or Services for any purpose or in any
              manner that is inconsistent with any applicable laws or
              regulations.
            </li>
            <li>
              You will not use the Services to purchase or sell any products or
              services that are restricted by any governmental authorities or
              that are unlawful.
            </li>
            <li>
              You understand and agree that we reserve the right to cancel
              and/or suspend your Account, to block Transactions, or to freeze
              your Account immediately without notice if we determine, in our
              sole discretion, that your Account or any of your Transactions are
              associated with violation of these Terms and Conditions or any
              other illegal or prohibited activities.
            </li>
          </ol>
        </div>
      </div>
    </div>
    <div *ngIf="touChoiceOfLaw">
      <h2 class="tou_h2">{{ 'Choice of Law' | translate }}</h2>
      <div class="tou_content">
        This Agreement, and its application and interpretation, shall be
        governed exclusively by the laws of the State of {{ touState }}, without
        regard to its conflict of law rules. You consent to the exclusive
        jurisdiction of the federal and state courts located in or near
        {{ touState }} for any dispute arising under this Agreement.
      </div>
    </div>
    <div *ngIf="touSeverability">
      <h2 class="tou_h2">{{ 'Severability' | translate }}</h2>
      <div class="tou_content">
        In the event any court shall declare any section or sections of this
        Agreement invalid or void, such declaration shall not invalidate the
        entire Agreement and all other paragraphs of the Agreement shall remain
        in full force and effect.
      </div>
    </div>
    <div *ngIf="touBindingArg">
      <h2 class="tou_h2">{{ 'Binding Agreement' | translate }}</h2>
      <div class="tou_content">
        The terms and provisions of this Agreement are binding upon Your heirs,
        successors, assignees, and other representatives. This Agreement may be
        executed in counterparts, each of which shall be considered to be an
        original, but both of which constitute the same Agreement.
      </div>
      <div class="tou_content">
        You assume any and all risks associated with the use of the Software. We
        reserve the right to modify this Agreement from time to time.
      </div>
    </div>
  </section>
</ion-content>
